<ul>
  <li>{{activity-sidebar/carousel/activity-link activity-id=1}}</li>
  <li>{{activity-sidebar/carousel/activity-link activity-id=2}}</li>
  <li>{{activity-sidebar/carousel/activity-link activity-id=3}}</li>
  <li>{{activity-sidebar/carousel/activity-link activity-id=4}}</li>
</ul>
