& {
  width: 80%;
  float: left;
  height: 500px;

  background: #333;

  h1.game-id {
    font-size: 50px;
    line-height: 500px;
    text-align: center;
    margin: 0px; padding: 0px;
    color: $color;
  }
}
